@import "../../styles/variables.scss";

.Header {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  background-color: black;
  justify-content: space-between;
  padding: 0 1rem;

  a,
  a:hover,
  a:visited,
  a:active {
    color: unset;
    text-decoration: unset;
  }
}

.Logo {
  p {
    font-size: 2rem;
  }
}

.LeftSection {
  display: flex;
  & > div {
    padding: 0.5rem;
  }
}

.Languages {
  display: flex;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    padding: 0.2rem;
  }

  & > div:first-child {
    margin-right: 1rem;
  }
}

.Active a {
  color: white;
  background-color: #c90000;
}

.ActiveLink {
  text-decoration: underline;
  background-color: #c90000;
}

@media screen and (max-width: 768px) {
  .Menu {
    flex-direction: column;
  }
}
