.MenuDesktop {
  display: block;
}

.MenuMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .MenuDesktop {
    display: none;
  }

  .MenuMobile {
    display: block;
  }
}

.Header {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  h1 a {
    font-size: 1.8rem;
  }

  a {
    font-size: 1.2rem;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: unset;
    text-decoration: unset;
  }

  a:hover,
  .Active a {
    border-bottom: 3px solid #c90000;
  }

  a.ActiveLink {
    color: #c90000;
    font-weight: bold;
  }

  .Languages {
    div.Active a {
      background-color: #c90000;
    }
  }
}

.HeaderMobile {
  a:hover,
  a:active {
    color: #c90000 !important;
    background-color: #fff;
    text-decoration: unset;
  }
}

.LeftSection {
  display: flex;
  & > div {
    padding: 0.5rem;
  }
}

.Languages {
  display: flex;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    // color: black;
    padding: 0.2rem;
    border-bottom: 3px solid #fff;
  }

  div.Active {
    background-color: #c90000;
    a {
      color: white;
    }
  }

  & > div:first-child {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Header {
    flex-direction: column;
    align-items: unset;
  }

  .LeftSection {
    flex-direction: column;
  }
}

.bm-item-list a:hover {
  padding: 0.8em;
}
