.Map {
  span,
  a,
  p {
    font-size: 1rem;
  }
}

.popup {
  max-width: unset;
}

.mapboxgl-popup {
  max-width: unset !important;

  opacity: 0;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
