.RandomContainer {
  @media screen and (max-width: 768px) {
    margin-top: 2rem;
    height: calc(100vh + 3rem);
    width: 100%;
  }
}

section {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    padding: 1rem;
  }
}

section.space {
  // background-color: #070b34;
  color: #000;
}
