.Resume {
  display: block;
  margin: auto;
  max-width: 700px;
  flex-direction: column;
  background-color: #fff;
  margin-top: 1rem;
}

.Resume > * {
  margin: 1rem;
  padding: -1rem;
}

.Face {
  width: 200px;
  margin-right: 1rem;
}

.Lips {
  transition: fill 0.5s ease;
}

.Face:hover {
  cursor: crosshair;
  .Lips {
    fill: blue;
    transition: fill 0.5s ease;
  }
}

h2.JobTitle {
  color: blue;
}

.Title {
  display: flex;
  align-items: center;
}

.Experience {
}

.Skills {
  display: flex;
  flex-direction: column;
}
