@import "./normalize.css";

@font-face {
  font-family: "Recursive";
  src: url("../../static/fonts/Recursive_variable.woff2")
    format("woff2-variations");
  font-weight: 300 1000;
}

a,
a:hover,
a:visited,
a:active {
  color: unset;
  text-decoration: unset;
}

a:hover,
a:active {
  text-decoration: underline;
}

header h1 a {
  font-size: 1.8rem;
}

header a {
  font-size: 1.2rem;
}

span,
a,
p {
  font-family: "Recursive";
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Recursive";
}
