@import "./normalize.css";
@import "./variables.scss";

@font-face {
  font-family: "Recursive";
  src: url("../../static/fonts/Recursive_variable.woff2")
    format("woff2-variations");
  font-weight: 300 1000;
  font-display: swap;
}

a,
a:hover,
a:visited,
a:active {
  color: $red;
  text-decoration: unset;
}

a:hover,
a:active {
  text-decoration: underline;
}

a {
}
a:hover {
  color: white;
  background-color: $red;
}

header h1 a {
  font-size: 1.8rem;
}

header a {
  font-size: 1.2rem;
}

span,
a,
p {
  font-family: "Recursive", "monospace", "Open Sans Regular";
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Recursive", "monospace", "Open Sans Regular";
}
