a,
a:hover,
a:visited,
a:active {
  color: unset;
  text-decoration: unset;
}

a:hover,
a:active {
  text-decoration: underline;
}

header h1 a {
  font-size: 1.8rem;
}

header a {
  font-size: 1.2rem;
}
