$red: hsl(0deg, 100%, 39%);
$blue: #0b48f0;
$black: #000000;

/* SCSS HEX */
$white: #ffffffff;
$sweet-brown: #a63d40ff;
$gold-crayola: #e9b872ff;

/* SCSS HSL */
$white: hsla(0, 0%, 100%, 1);
$sweet-brown: hsla(358, 46%, 45%, 1);
$gold-crayola: hsla(35, 73%, 68%, 1);

/* SCSS RGB */
$white: rgba(255, 255, 255, 1);
$sweet-brown: rgba(166, 61, 64, 1);
$gold-crayola: rgba(233, 184, 114, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffffffff, #a63d40ff, #e9b872ff);
$gradient-right: linear-gradient(90deg, #ffffffff, #a63d40ff, #e9b872ff);
$gradient-bottom: linear-gradient(180deg, #ffffffff, #a63d40ff, #e9b872ff);
$gradient-left: linear-gradient(270deg, #ffffffff, #a63d40ff, #e9b872ff);
$gradient-top-right: linear-gradient(45deg, #ffffffff, #a63d40ff, #e9b872ff);
$gradient-bottom-right: linear-gradient(
  135deg,
  #ffffffff,
  #a63d40ff,
  #e9b872ff
);
$gradient-top-left: linear-gradient(225deg, #ffffffff, #a63d40ff, #e9b872ff);
$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #a63d40ff, #e9b872ff);
$gradient-radial: radial-gradient(#ffffffff, #a63d40ff, #e9b872ff);

/* SCSS HEX */
$platinum: #dfe4e0ff;
$chinese-red: #b73a1cff;
$smoky-black: #140f0bff;
$battleship-grey: #7b807aff;

/* SCSS HSL */
$platinum: hsla(132, 8%, 88%, 1);
$chinese-red: hsla(12, 73%, 41%, 1);
$smoky-black: hsla(27, 29%, 6%, 1);
$battleship-grey: hsla(110, 2%, 49%, 1);

/* SCSS RGB */
$platinum: rgba(223, 228, 224, 1);
$chinese-red: rgba(183, 58, 28, 1);
$smoky-black: rgba(20, 15, 11, 1);
$battleship-grey: rgba(123, 128, 122, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-right: linear-gradient(
  90deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-bottom: linear-gradient(
  180deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-left: linear-gradient(
  270deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-top-right: linear-gradient(
  45deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-top-left: linear-gradient(
  225deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #dfe4e0ff,
  #b73a1cff,
  #140f0bff,
  #7b807aff
);
$gradient-radial: radial-gradient(#dfe4e0ff, #b73a1cff, #140f0bff, #7b807aff);

$header-height: 4rem;
$menu-width-mobile: 200px;
