.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SolarSystem {
  position: relative;
}

.SolarSystem .Planet {
  position: absolute;
  top: calc(50% - 10px);
  right: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.SolarSystem .Sun {
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  right: calc(50% - 15px);
  background-color: yellow;
}

.SolarSystem .Earth {
  background-color: blue;
  border: 1px solid black;
  animation: rotEarth 16s infinite linear;
  z-index: 2;
}

@keyframes rotEarth {
  from {
    transform: rotate(0deg) translate(-195px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-195px) rotate(-360deg);
  }
}

.SolarSystem .Mercure {
  background-color: grey;
  border: 1px solid black;
  animation: rotMercure 3.8s infinite linear;
  z-index: 2;
}

@keyframes rotMercure {
  from {
    transform: rotate(0deg) translate(-75px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-75px) rotate(-360deg);
  }
}

.SolarSystem .Venus {
  background-color: rgb(170, 154, 13);
  border: 1px solid black;
  animation: rotVenus 9.8s infinite linear;
  z-index: 2;
}

@keyframes rotVenus {
  from {
    transform: rotate(0deg) translate(-142px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-142px) rotate(-360deg);
  }
}

.SolarSystem .Mars {
  background-color: rgb(207, 95, 4);
  border: 1px solid black;
  animation: rotMars 30s infinite linear;
  z-index: 2;
}

@keyframes rotMars {
  from {
    transform: rotate(0deg) translate(-295px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-295px) rotate(-360deg);
  }
}

.SolarSystem .Ellipsis {
  position: absolute;
  fill: transparent;
  stroke: #000;
}

.Home h1 {
  color: white;
}

.Rocket {
  width: 50px;
  position: absolute;
  right: 10px;
  animation: rocketMove 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.Rocket path {
  fill: #000;
}

@keyframes rocketMove {
  0% {
    bottom: 0%;
  }

  100% {
    bottom: 120%;
  }
}

.star-five {
  margin: 50px 0;
  position: absolute;
  display: block;
  color: white;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.star-five:before {
  border-bottom: 80px solid white;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.star-five:after {
  position: absolute;
  display: block;
  color: white;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
