.Home {
  display: flex;
  flex-direction: column;
}

.Home > * {
  margin: 1rem;
  padding: -1rem;
}

.Face {
  max-width: 300px;
}

.Face:hover {
  cursor: pointer;
  .Lips {
    fill: #d1162f;
    transition: fill 0.5s ease;
  }
}

.Motivation {
}

.Title {
  display: flex;
  align-items: center;
}

.Experience {
  a {
    color: #c90000;
  }
  a:hover {
    color: white;
    background-color: #c90000;
  }
}

.Education {
}

.Skills {
  display: flex;
  flex-direction: column;
}

// .Home img {
//   max-width: 200px;
// }
