.Header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  background-color: black;
  height: 100%;

  p,
  a {
    font-family: "Berkshire Swash";
  }
}

.Logo {
  margin-bottom: 2rem;
  p {
    font-size: 2rem;
  }
}

.Menu {
  display: flex;
  flex-direction: column;

  & > div {
    padding: 0.5rem;
  }
}
