.Header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  background-color: black;
  height: 100%;

  a {
    font-family: "Audiowide";
  }
}

.Logo {
  margin-bottom: 2rem;
}

.Menu {
  display: flex;
  flex-direction: column;

  & > div {
    padding: 0.5rem;
  }
}
